body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {

  box-sizing: inherit;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-navigator {
  display: flex;
  align-items: center;
  padding-right: 108px;
}

.logo-black {
  padding-left: 149px;
}

.site-navigator a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  color: #373737;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  /* padding-right: 108px; */
}

.nav-items a {
  display: flex;
  padding: 5px;
  margin-right: 50px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;

}

.nav-items a:hover {
  border-bottom: 2px solid #717CFF;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.button-apply {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  background: #fff;
  color: #505050;
  border: 2px solid #717CFF;
  border-radius: 11px;
  padding: 7px 25px;
  transition: all 0.5s ease;

}

.button-apply:hover {
  background-color: #717CFF;
  color: #fff;


}

.hidden-h1 {
  color: goldenrod;
  margin-left: 150px;

}

.button-apply-online {
  border-radius: 5px;
  align-items: center;


}

.button-online-strelka {
  align-items: center;
  background: #717CFF;
  border-radius: 11px;
  padding: 12px 20px 12px 34px;
  border:1px solid transparent ;
  display: inline-flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 50px;
  box-sizing: border-box;
  transition: all 0.5s ease ;
}

.button-online-strelka:hover {

  background-color: #fff;
  border: 1px solid #717CFF;
  transition: color 0.3s ease,background-color 0.3s ease;
  color:#717CFF ;
}
.button-online-strelka img{
  margin-left: 30px;
}

.we-help {
  width: 632px;
  padding-left: 149px;
}

.we-help span {
  color: #717CFF;
}

.we-help-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.we-help h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  color: #2F2F2F;
}

.we-help h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  color: #7D7D7D;
}

.foto-studentka {
  width: 470px;
  height: 565px;
}

.sot-set {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
  width: 113px;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 0px;
}
.sot-set img{
  margin-right: 15px;
}

.main-head{
  display: flex;
  justify-content: space-between;
  margin-top: 145px;
}

.university h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #373737;
  mix-blend-mode: normal;
  opacity: 0.73;
  padding-top: 55px;
  margin: 0px;

}

.logo-university {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 100px;
}

.partners-button-active {
  width: 14px;
  height: 14px;
  background-color: #717CFF;
  border-radius: 50px;
  border: none;
  margin-right: 15px;
}

.partners-button {
  width: 10px;
  height: 10px;
  background: rgba(124, 124, 124, 0.318837);
  border-radius: 50px;
  border: none;
  padding: 0;
  margin-right: 15px;

}

.partners-button:hover {
  background-color: rgba(0, 89, 255, 0.671);
}


.last {
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 57px;

}

.university {
  background-color: #FAFAFA;
  /* padding: 55px 116px 57px 128px; */

}

.our-services-all {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
  justify-content: center;

}


.our-head-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  /* identical to box height, or 146% */
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
  width: 949px;
}

.our-head-texts h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  /* or 173% */
  text-align: center;
  color: #7D7D7D;
  width: 949px;
  padding-bottom: 80px;
}

.our-head-texts {
  padding-top: 90px;
  margin-right: auto;
  margin-left: auto;

}

.career-all {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin-right: 45px;
}

.career-icon {
  padding-top: 29px;
  padding-left: 31px;
}


.career-counselling-texts {
  padding: 30px 17px 30px 31px;
}

.career-counselling-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height, or 154% */
  color: #37474F;
}

.career-counselling-texts p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}



.university-admissions-texts {
  padding: 30px 17px 30px 31px;
}

.university-admissions-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height, or 154% */
  color: #37474F;
}

.university-admissions-texts p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.university-icon {
  padding-top: 29px;
  padding-left: 31px;
}

.visa-consultancy-texts {
  padding: 30px 17px 30px 31px;
}

.visa-consultancy-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height, or 154% */
  color: #37474F;
}

.visa-consultancy-texts p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.visa-icon {
  padding-top: 29px;
  padding-left: 31px;
}

.accommodation-texts {
  padding: 30px 17px 30px 31px;
}

.accommodation-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height, or 154% */
  color: #37474F;
}

.accommodation-texts p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.accommodation-icon {
  padding-top: 29px;
  padding-left: 31px;
}

.pre-departure-briefing-texts {
  padding: 30px 17px 30px 31px;
}

.pre-departure-briefing-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  /* identical to box height, or 154% */
  color: #37474F;
}

.pre-departure-briefing-texts p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.pre-departure-icon {
  padding-top: 29px;
  padding-left: 31px;
}


.learn-more-strelka {
  width: 180px;
  padding-left: 31px;
  padding-bottom: 30px;
  align-items: center;
  display: flex;
}

.learn-more-strelka img{
  margin-left: 20px;
}

.learn-more-strelka a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.439286px;
  color: #717CFF;

}



.university-admissions-all {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin-right: 45px;
}

.visa-consultancy-all {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;


}

.accommodation-all {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin-right: 45px;
  margin-top: 45px;
}

.pre-departure-briefing-all {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin-top: 45px;
}

.services-sections {
  display: flex;
  flex-wrap: wrap;


}

.news-all {
  background-color: #FAFAFA;


}

.news-texts {
  width: 950px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;

}

.news-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  /* identical to box height, or 146% */
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.news-texts h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  /* or 173% */
  text-align: center;
  color: #7D7D7D;
}

.three-news-section {
  display: flex;
  padding-top: 115px;

  justify-content: center;

}

.come-on {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
  margin-right: 45px;
}

.come-on h3 {
  padding-left: 25px;
  text-align: left;
  padding-bottom: 62px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;

}

.trump-lays {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
  margin-right: 45px;
}

.trump-lays h3 {
  padding-left: 25px;
  text-align: left;
  padding-bottom: 62px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
}

.how-a-little {
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
}

.how-a-little h3 {
  padding-left: 25px;
  text-align: left;
  padding-bottom: 62px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
}


.button-join-here a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}

.button-join {
  display: flex;
  justify-content: center;
  margin-top: 145px;
  padding-bottom: 125px;
}

.button-join-here {

  display: flex;
  background: #717CFF;
  justify-content: space-around;
  border-radius: 11px;
  width: 200px;
  padding: 12px 20px 12px 34px;
  border: none;
}

.calendar-time {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #565656;
  padding-left: 25px;
  display: flex;
  margin-top: 20px;
  align-items: center;

}

.calendar-time img{
  margin-right: 10px;
}

.university-events-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.university-events-texts h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  /* or 173% */
  text-align: center;
  color: #7D7D7D;
  margin-bottom: 90px;
}

.university-events-texts {
  width: 950px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.macquare {
  width: 540px;
  height: 308px;
  margin-right: 45px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;

  /* margin-right: 45px;
  margin-top: 45px; */
}

.upcoming-slider {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.macquare-texts h3 {
  width: 350px;
  /* padding-top: 10px;
padding-left: 120px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
}

.macquare p {
  width: 480px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.data-left {
  display: inline-block;
}

.data-right {
  display: inline-block;

}




.federation {
  width: 540px;
  height: 308px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.federation h3 {
  width: 350px;
}

.federation p {
  width: 480px;
}

.federatiron-data-text {
  display: flex;

}

.federatiron-texts h3 {
  width: 350px;
  /* padding-top: 10px;
padding-left: 120px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;

}

.federation p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.time-day {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;
  color: #717CFF;
  width: 76px;
  height: 76px;

}

.time-day p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #717CFF;
}

.learn-data {
  display: flex;
}

.buttons-two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

}




.events {
  padding-top: 98px;
  width: 950px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.events h2 {
  font-size: 37px;
  line-height: 54px;
  color: #373737;
}

.events p{
  color: #7D7D7D;
  font-size: 22px;
  line-height: 38px;
  margin-top: 25px;

}

.ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
}
.ul li{
  background: #FFFFFF;
box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
border-radius: 15px;
margin-bottom: 80px;
margin-top: 100px;
}

.first-macqua{
  margin-right: 45px;
}
.ul a{
  text-decoration: none;
}

.ul h3 {
  font-style: 24px;
  line-height: 37px;
  color: #37474F;

}

.ul-time {


  border: none;
background-color:rgba(113, 124, 255, 0.2) ;
border-radius: 11px;
width: 76px;
height: 76px;


}
.ul-time time{
  display: inline-block;
  padding-top: 10px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 13px;
}

.day {
  font-size: 27px;
  line-height: 32px;
  font-weight: bold;
  color: #717CFF;
}


.month {
  color: #717CFF;
  font-size: 18px;
}


.ul-ftime {
  display: flex;

}

.ul-ftime h3 {

margin: 0px;
margin-left: 19px;
    color: #37474F;
    font-size: 24px;
    line-height: 37px;
  width: 350px;


}


.ul  li{
 border: 1px solid #fff;
background-color: #fff;
border-radius: 15px;
width: 540px;
height: 308px;
}

.ul-ftime {
  padding-top: 29px;
  padding-right: 62px;
  padding-bottom: 28px;
  padding-left: 31px;
}

.ul p{
  color: #37474F;
  font-size: 16px;
  line-height: 28px;
  width: 481px;
  margin-left: 31px;
}


.ul a{
  font-size: 18px;
  line-height: 20px;
  color: #717CFF;
  margin-left:31px ;
}

.navigation{
  width: 17px;
  margin-left: 20px;
}
.nav-time {
  display: flex;
  justify-content: space-between;
}



.nav{
  display: inline-flex;

  align-items: center;
}

.time {
  margin-right: 28px;
align-items: center;
display: flex;
}
.time span{
  margin-right: 5px;
}








/* COUNTRIES WE COVERED */
.countries-all {
  background-color: #FAFAFA;
  ;
}

.countries-texts {
  width: 949px;
  margin-right: auto;
  margin-left: auto;
  padding: 82px;
  padding-bottom: 75px;
  text-align: center;

}

.countries-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.countries-texts h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}



.australia {
  width: 348px;
  margin-right: 45px;
}

.australia h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #37474F;
}

.australia h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
}

.canada {
  width: 348px;
  margin-right: 45px;
}

.canada h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #37474F;
}

.canada h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
}

.uk {
  width: 348px;
  margin-right: 45px;
}

.uk h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #37474F;
}

.uk h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
}

.countries-travel {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

}

.buttons-three {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 130px;
  margin-top: 70px;

}


.testimonial-texts {
  width: 949px;
  margin-right: auto;
  margin-left: auto;
  padding: 82px;
  padding-bottom: 75px;
  text-align: center;
}

.testimonial-texts h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  /* identical to box height, or 146% */
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.testimonial-texts h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  /* or 173% */
  text-align: center;
  color: #7D7D7D;
}

.people-one {
  width: 430px;
}

.people-one h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #37474F;
}

.people-one h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #37474F;
  mix-blend-mode: normal;
  opacity: 0.65;
}

.people-one h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: rgba(55, 71, 79, 0.721569);
}

.p-one-text {
  display: flex;
  align-items: center;
}

.harrison {
  margin-left: 28px;
}

.harrison h2 {
  margin-bottom: 0px;
}

.harrison h3 {
  margin-top: 0px;
}

.buttons-four {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 130px;
  margin-top: 85px;

}


.people-two {
  width: 430px;
  margin-left: 100px;
}

.people-two h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #37474F;
}

.people-two h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #37474F;
  mix-blend-mode: normal;
  opacity: 0.65;
}

.people-two h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: rgba(55, 71, 79, 0.721569);
}

.p-two-text {
  display: flex;
  align-items: center;
}

.ainara {
  margin-left: 28px;
}

.ainara h2 {
  margin-bottom: 0px;
}

.ainara h3 {
  margin-top: 0px;
}

.all-persons {
  display: flex;
}

.ready-to-chase {
  background-color: #FAFAFA;
  padding-bottom: 50px;
  padding-top: 50px;
}

.ready-to-chase h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
margin: 0px;
  color: #252525;

}

.pered-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}


.button-online-strelka-two {
  align-items: center;
  background: #717CFF;
  border-radius: 11px;
padding-left: 30px;
padding-right: 40px;
padding-top: 12px;
padding-bottom: 12px;
  border:1px solid transparent;
  display: inline-flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 50px;
  box-sizing: border-box;
  transition: all 0.5s ease ;
}


.button-online-strelka-two:hover {
  background-color: rgba(248, 248, 248, 0.5);
  border:1px solid #717CFF;
  color: #717CFF;
}

.button-online-strelka-two img{
  margin-left: 50px;
}



.footer-all {
  background-color: #717CFF;

}


.footer-items {
  display: flex;
  padding-top: 70px;
  padding-bottom: 50px;
  justify-content: space-around;
}

.footer-logo-texts {
  width: 343px;
}

.footer-logo-texts h2,
h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #EEEEEE;
}

.footer-logo-texts h3 {
  margin-top: 50px;
}

.sot-set-two {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.sot-set-two a {
  display: flex;
  padding: 5px;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}

.footer-section-one {
  list-style: none;
}

.footer-section-two {
  list-style: none;
}

.footer-section-one a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 49px;
  color: #EEEEEE;
  text-decoration: none;
}

.footer-section-two a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 49px;
  color: #EEEEEE;
  text-decoration: none;
}